@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply cursor-pointer hover:underline;
    }
    .button {
        @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500 
    }
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    scroll-behavior: smooth;
}

.img1 {
    transition: 0.5s all ease-in-out;
}

.img1:hover {
    transform: scale(1.1);
}

.loader div:first-child {
    animation-delay: 0.1s;
}
.loader div:nth-child(2) {
    animation-delay: 0.2s;
}
.loader div:nth-child(3) {
    animation-delay: 0.3s;
}